# Git
.git
.gitignore

# Ambiente e IDEs
.env
.env.*
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambientes Virtuais (Venv)
venv/
.env/
.venv/
env.bak/
venv.bak/

# Logs
*.log

# Ferramentas CI/CD (Jenkins/Kaniko já está no cluster)
Jenkinsfile